blogody {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 700px) {
    section {
    width: 100%;
    height: 500px;
    padding-bottom: 150px;
    }

    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}

    .experiences-area {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    clear: both;
    padding: 0%;
    }

    video {
    position: relative;
    width: 100%;
    height: auto;
    }

    #full {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px grey;
    float: left;
    width: 40%;
    height: 166%;
    margin-left: 4%;
    overflow: auto;
    }

    #baby {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px grey;
    margin-left: 7%;
    float: left;
    width: 40%;
    height: 166%;
    margin-left: 7%;
    overflow: auto;
    }

    footer {
    clear: both;
    text-align: center;
    color: rgb( rgb(0, 255, 0));
    }
    
}
.top-background {
    background-image: url("https://www.teahub.io/photos/full/8-83642_top-78-red-abstract-background-hd-background-spot.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section {
    width: 100%;
    height: 500px;
    padding-bottom: 150px;
}


#sound {
    padding: 1px;
}

.main-hadding {
    font-size: 50px;
}

h1 {
    padding: 0%;
    color: crimson;
    font-size: 50px;
}


.p {
    color: rgb(255, 0, 212);
}

.text {
    text-align: center;
    color: rgb(255, 0, 212);
}

.name-hilight>#name {
    color: orange;
}

.orange-hilight {
    color: orange;

}

img {
    width: 100%;
    height: auto;
    margin-top: 10%;
}

#jpg {
    max-width: 500px;
    margin-left: 20px;
}

.half-width {
    float: left;
    width: 40%;
    padding: 0%;
    margin: 5%;
}



.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, red, blue);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

.exp {
    padding-left: 4%;
    clear: both;
}

div {
    display: inline !important;
}

.secound-section {
    background: url("/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    clear: both;
}

.experiences-area {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    clear: both;
}

#full {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px grey;
    float: left;
    width: 40%;
    height: 61%;
    margin-left: 4%;
}

#baby {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px grey;
    margin-left: 7%;
    float: left;
    width: 40%;
    height: 61%;
    margin-left: 7%;
}

#footer {
    position: sticky;
    color: rgb(38, 255, 0)
}

footer {
    clear: both;
    text-align: center;
}

.blog {
    color:rgb(0, 0, 255);o
}
/* sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
} 
.sidebar a:hover {
    color: #c21212;
} 
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: rgb(65, 228, 33);
    padding: 10px 15px;
    border: none;
    border-radius: 40%;
    position: fixed;
    display: block;    
}
  
.openbtn:hover {
    background-color: rgb(71, 22, 206);
}
  
#main {
    transition: margin-left .5s;
    padding: 90px;
    /* position: fixed; */
    display: block;
    transition: top 0.3s;
    float: right;
}
 
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 40%;
}
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  

  /* contact page */
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


  /* new */
  
  